<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git.install" />
  <package id="openjdk8redhatbuild" />
  <package id="jetbrainstoolbox" />
  <package id="vscode" />
  <package id="nodejs" />
  <package id="maven" />
  <package id="gradle" />
  <package id="Lein" />
  
  <package id="arduinoide" />
  
  <package id="docker-desktop" />
  <package id="vscode-docker" />
  <package id="heidisql" />
  <package id="mongodb" />

  <package id="GoogleChrome" />
  <package id="insomnia-rest-api-client" />

  <package id="slack" />
  
  <package id="InkScape" />
  
  <package id="mRemoteNG" />
  <package id="putty" />
  <package id="winscp" />
  
  <package id="firacode" />
</packages>
