<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="autohotkey.portable" />
  <package id="chocolateygui" />
  <package id="f.lux.install" />
  <package id="Firefox" />
  <package id="foxitreader" />
  <package id="Listary" />
  <package id="setpoint" />
  <package id="totalcommander" />
  <package id="procexp" />
  

  <package id="git.install" />
  <package id="openjdk8redhatbuild" />
  <package id="jetbrainstoolbox" />
  <package id="vscode" />
  <package id="nodejs" />
  <package id="maven" />
  <package id="gradle" />
  <package id="Lein" />
  
  <package id="heidisql" />
  <package id="mongodb" />

  <package id="GoogleChrome" />
  <package id="insomnia-rest-api-client" />

  <package id="slack" />
  
  <package id="InkScape" />
  
  <package id="mRemoteNG" />
  <package id="putty" />
  <package id="winscp" />
  
  <package id="firacode" />
  
  <package id="vlc" />
  <package id="irfanview" />
  <package id="steam" />
  <package id="discord" />
  <package id="jdownloader" />
  
  <package id="arduinoide" />
</packages>
