<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="autohotkey.portable" />
  <package id="chocolateygui" />
  <package id="f.lux.install" />
  <package id="Firefox" />
  <package id="foxitreader" />
  <package id="Listary" />
  <package id="setpoint" />
  <package id="totalcommander" />
  <package id="procexp" />
</packages>
